{% extends 'base.html' %}

{% load static %}

{% block title %}
Guess the Day!
{% endblock title %}
{% block content %}
<main>
    <div class="project-list">
        <h1>Guess the Day! Home page</h1>
    </div>
</main>
{% endblock content %}
