@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/chomsky');

Set all elements to use the Open Sans font body,
input,
textarea,
button,
select {
    font-family: georgia, "times new roman", times, serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

/* Set the background color of all pages */
html,
body {
    background-image: url("https://cutewallpaper.org/21/newspaper-wallpaper/Newspapers-newspaper-texture-background-download-photos-.jpg")
}

/* Set the style of the navigation list */
header nav ul {
    background-color: white;
    border-bottom: 1px solid #CCC;
    box-sizing: border-box;
    list-style: none;
    margin-top: 0;
    margin-bottom: 2em;
    padding: 0 0 0 1em;
}

/* Set the spacing and layout of the nav list items */
header nav ul li {
    display: inline-block;
    margin: 0 1em;
    padding: 1em 0 1em 0;
}

/* Set the style of the links in the nav */
header nav ul li a {
    font-weight: bold;
    text-decoration: none;
}

/* Make the input tags look nicer */
input {
    height: 1.5em;
    margin: 0;
    padding: .25em .5em;
}

/* Make the select boxes look nicer */
select {
    height: 2.5em;
}

/* Make the select-multiple boxes look nicer */
select[multiple] {
    height: 7.5em;
}

/* Make the textarea inputs look nicer */
textarea {
    margin: 0;
    padding: .25em .5em;
}

/* Set the width on all tables */
table {
    width: 100%;
}

/* Set the size of the help text in forms */
.helptext {
    display: block;
    font-size: 80%;
}

/* Make the login and sign-up forms look nicer */
.login-form,
.signup-form {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: auto;
    max-width: 400px;
    padding: 2em;
}



/* Make all of the headers the same */

.project-list h1
{
    margin-top: 0;
}

a:hover {
    color: rgb(0, 123, 255);
}





/* Make the buttons a little larger */
.login-form button,
.signup-form button{
    padding: 0.25em 1em;
}

/* Add a nice box around the lists and details */
.project-list
    {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: auto;
    max-width: 800px;
    padding: 2em;
}

/* Add padding to the table header and table datum tags */
.project-list td
{
    padding: .5em;
}

/* Add a bottom border to the table header tags */
.project-list thead tr th{
    border-bottom: 2px solid #DEDEDE;
}

/* Center align the text on specific table header cells */
.project-list tbody tr td {
    text-align: center;
}

/* Add horizontal rules to all rows except the last */
.project-list tbody :not(tr:last-child) td{
    border-bottom: 1px solid #DEDEDE;
}

tr:even-child td {
    background-color: lightblue;
}

th {
    font-family: 'Chomsky', sans-serif;
    font-size: xx-large;
}

h1,
.guess-inputs {
    text-align: center;
    font-family: "nyt-franklin-400";
}

.input-element, .guess-button {
    position: relative;
    border: none;
    height: 3em;
    border-radius: 1.5em;
    align-content: center;
    letter-spacing: .05em;
    margin: 0 10px 8px;
    background: #000;
    color: #fff;
    font-size: 16px;
    font-family: "nyt-franklin-400";
    line-height: 28px;
    cursor: pointer;
    margin-bottom: 8px;
    padding: 0 2em;
    font-weight: 400;
}

tbody {
    font-size: 14px;
}
